LANGSMITH_API_KEY=

AI_HTTP_PROXY=

LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL=

POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASS=
POSTGRESQL_NAME=

ADMIN_USERNAME=
ADMIN_PASSWORD=

JWT_SECRET=
